@charset "UTF-8";
*{
    font-family: Rubik, sans-serif;
    text-decoration: none;
    list-style: none;
    margin: 5px;
}


/*no html id = # no Css e Class, '.' no CSS
: = pseudo class
:: = Pseudo elemento
> = filho de alguma class id ou elemento*/


body{
    display: flex;
    flex-direction: column;
    /*text-indent: 30px;*/
    background-color: rgb(247, 247, 247);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    
}

#tituloCabecalho{
    padding: 10px;


}

#menuPrincipal{

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    
}

h1{
    color: rgb(49, 46, 253);
    
}

a{
    font-weight: bold;
    color: rgb(49, 46, 253);
}

p{
    font-size: 14px;
    font-weight: normal;
    text-align: justify;
   /* text-indent: 30px;*/

}